.settings {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.settings-wrapper {
    flex: 9;
    padding: 20px;
  }
  
  .settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settings-update-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .settings-delete-title {
    color: red;
    font-size: 14px;
    cursor: pointer;
    font-family: Helvetica;
  }
  
  .settings-form {
    display: flex;
    flex-direction: column;
  }
  
  .settings-pp {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .settings-pp > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .settings-pp-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
  }
  
  .settings-pp-button:focus {
    outline-style: none;
  }
  
  .settings-form > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .settings-pp-input {
    width: 30%;
  }
  
  .settings-form > input {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  
  .settings-submit-button {
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settings-submit-button:hover {
    background-color: rgb(1, 114, 114);
  }