.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }
  
  .register-title {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .register-form > label {
    margin: 10px 0;
  }
  
  .register-input {
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
  }
  
  .register-input:focus {
    outline: none;
  }
  
  .register-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .register-login-button {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }

  .error {
    font-size: 12px;
    color: red;
    font-family: Helvetica;
    font-weight: 500;
    margin: 5px 0;
  }
