.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }
  
  .login-title {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .login-form > label {
    margin: 10px 0;
  }
  
  .login-input {
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
  }
  
  .login-input:focus {
    outline: none;
  }
  
  .login-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  